.diagnose {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4em auto auto 2em;
    grid-row-gap: .5em;
    min-height: 25em;
    max-height: 30em;
    width: 90%;

    margin: 2em auto;

    border: 1px solid var(--dark-blue);
    border-radius: 15px;
    background-color: var(--main-white);
    box-shadow: 0px 0px 2px var(--darkest-blue);
    overflow: hidden;
}

.diagnose-header {
    grid-column: 1/4;
    grid-column-gap: 2em;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5em 1.5em;

    padding: .5em 1em;

    background-color: var(--lightest-blue);
}

.diagnose-title {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

.diagnose-severity {
    grid-column: 1;
    grid-row: 2;
    color: var(--alt-transparent);
}

.diagnose-doctor {
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: right;
    align-self: center;
    font-weight: 300;
    letter-spacing: 0.04em;
    color: var(--alt-transparent);
}

.diagnose-body {
    grid-column: 1/4;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto 80%;
    grid-row-gap: .2em;
    justify-content: center;
    align-items: center;

    padding: .5em 1em;

    font-size: 1.2em;
    text-align: left;
    letter-spacing: 0.05em;

    border-bottom: 1px solid var(--main-gray);
    overflow: auto;
}

.diagnose-description {
    overflow-y: auto;
}

.diagnose-post-body {
    grid-column: 1/4;
    grid-row: 3;
    display: grid;
    grid-template-rows: auto 80%;
    grid-row-gap: .2em;
    justify-content: center;
    align-items: center;

    padding: .5em 1em;
    
    font-size: 1em;
    text-align: left;
    letter-spacing: 0.05em;
    overflow: auto;
}

.desc {
    width: 30%;
    color: var(--alt-transparent);
    border-bottom: 1px solid var(--main-gray);
}

.diagnose-footer {
    grid-column: 1/4;
    grid-row: 4;
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 1px solid var(--alt-gray);
    background-color: var(--main-gray);
}

.diagnose-link {
    text-decoration: none;
    color: var(--darkest-blue);
    transition: all .2s ease-in-out;
}

.diagnose-link:hover {
    letter-spacing: 0.05em;
}