.header {
    height: 10vh;
    background-color: var(--darkest-mint);

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-link {
    height: 100%;

    display: flex;
    justify-content: center;
    text-decoration: none;
}

.header-logo {
    display: flex;
    flex-grow: 2;
    text-decoration: none;
    justify-content: center;
}

.header-nav-element{
    width: 0;
    
    color: #E7F5E7;

    font-weight: 500;
    align-items: center;
    font-size: 2.8em;
    flex-grow: 1;
}

.header-nav-left {
    border-right: solid 3px #148a39;
}

.header-nav-right {
    border-left: solid 3px #148a39;
}

.header-nav-element:hover {
    background-color: #b3d6b3;
}

.header-title {

    margin: 0.2em .1em;

    font-size: 6em;
    font-family: 'Righteous', cursive;

    color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;

    transition: all .2s ease-in-out;
}

.header-title:hover {
    color: var(--main-mint);
}

.header-icon {
    width: 90px; 
    height: 75px;
}

.header-logout {
    text-align: end;
}

@media (max-width:500px) {
    .header-title{
        color: red;
        font-size: 4em;
        margin: 0 25px;
        align-items: center;
    }
}