@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {

    --darkest-mint: #17A744;
    --dark-mint: #21E15D;
    --main-mint: #4EE77E;
    --light-mint: #6CEB94;
    --lightest-mint: #a8f3bf;

    --darkest-blue: #0088A0;
    --dark-blue: #00B3D3;
    --main-blue: #18DCFF;
    --light-blue: #39F8F5;
    --lightest-blue: #A0F1FF;

    --darkest-accent: #FE7C00;
    --dark-accent: #FF8E21;
    --main-accent: #FF9F43;
    --light-accent: #FFB065;

    --main-white: #fff;
    --main-black: #161616;
    --main-gray: #e6e6e6;

    --alt-shadow: #363636cc;
    --main-shadow: #36363650;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: var(--lightest-blue);
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-mint);
    border-radius: 10px;
    box-shadow: inset 0 0 3px var(--alt-shadow);
}

.container-inner-title {
    width: 95%;
    margin: .2em auto;
    padding-bottom: .2em;
    font-size: 1.8em;
    letter-spacing: .1em;
}

.align-mid {
    text-align: center;
}

.text-border-bottom {
    border-bottom: 1px solid var(--main-black);
}

.main-blue {
    color: var(--main-blue);
}

.main-mint {
    color: var(--main-mint);
}