.chat-main-container {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-column-gap: 5%;

    height: 78vh;
    width: 100%;

    padding: 1%;
    overflow: hidden;
}

.conversations {
    display: grid;
    grid-template-rows: 7.5% auto 10%;

   border: 2px solid var(--dark-blue);
   border-radius: 1.5em;
   background-color: var(--main-white);
   overflow: hidden;
}

.conversations-list {
    overflow: auto;
}

.conversation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-row-gap: .5em;

    height: 8vh;
    width: 95%;
    margin: .4em auto;
    padding: .5em;
    border:1px solid var(--darkest-blue);
    border-radius: 1em;
}

.corr-name {
    grid-column: 1;
    grid-row: 1;
    align-self: baseline;
    justify-self: flex-start;

    font-size: 1.4em;
    font-weight: 500;
}

.msg-time {
    grid-column: 2;
    grid-row: 1;
    align-self: baseline;
    justify-self: flex-end;

    color: var(--alt-shadow);
    font-size: 1.2em;
    font-weight: 300;
}

.msg-preview {
    grid-column: 1/2;
    grid-row: 2;

    text-overflow: ellipsis;
}

.new-conversation-button {
    cursor: pointer;
    border: none;
    background-color: var(--darkest-blue);
}

.chat {
    display: grid;
    grid-template-rows: 7.5% auto 15%;

    border: 2px solid var(--dark-blue);
    border-radius: 1.5em;
    background-color: var(--main-white);
}

.chat-feed {
    overflow-y: auto;
}

.message {
    display: block;
    min-height: 4em;
    width: 45%;
    margin: .5em 1em;
    padding: .5em;

    font-size: 1.4em;

    border: 1px solid var(--darkest-blue);
    border-radius: 1em;
    background-color: var(--main-gray);
}

.msg-input {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid var(--darkest-blue);
}

.msg-textarea {
    margin: auto;
    padding: .4em;
    height: 70%;
    width: 50%;
    resize: none;
    border: 1px solid var(--darkest-blue);
    border-radius: .5em;
}

.msg-textarea:focus {
    outline: none;
}

.msg-submit {
    margin: auto;
    width: 30%;
    border: none;
    border-radius: 1em;
    background-color: var(--dark-mint);
}