.creation-body {}

.input-field{
  
  margin: 20px 0 10px 40px;
  
  border: none;
  
  font-size: 2em;
  font-family: 'poppins';
  background-color: transparent;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.input-field[type=text] {
  width: 80%;
  height: 25px;
}

.date-time-container {
  margin: 0 20px;
}

.top-input-underline {
  margin: 0 40px;
}

.add-window-button{
  float: right;

  margin: 40px;
  padding: 5px;

  border: none;
  border-radius: 5px;

  font-family: 'poppins';

}

.add-act {
  position: absolute;
  right: 0;
  bottom: -20px;

  cursor: pointer;

  color: #E7F5E7;
  background-color: #00B3D3;
}

.add-act:hover {
  background-color: #0088A0;
}