.activity{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    align-items: center;
    font-size: 2em;
    border: 2px solid #0088A0;
    border-radius: 1em;
    background-color: #fff;
}

.buttons {
    margin: 5px 0 2px 0;
    border-radius: 6px;
    width: 20%;
    height: 2em;
}

.buttons:hover {
    transform: scale(1.1);
}

.add-activity-button {
    margin-left: 47%;
    margin-top: 2%;

    padding: 12px;
    border-radius: 6px;
    font-size: 33px;
}

.add-activity-button:hover {
    transform: scale(1.1);
}

.add-window-container {
    position: absolute;

    width: 400px;
    height: 280px;
    z-index: 10;

    font-family: 'poppins';

    border-radius: 5px;
    box-shadow: 1px 1px 4px #3c3c3c;
    background-color: #E7F5E7;
}

.add-window-bar {
    height: 30px;
    width: 100%;

    cursor: move;
    overflow: hidden;

    font-size: 2em;
    text-align: center;
    background-color: #9ee89e;
}

.add-window-close-btn {
    top: 0;
    right: 0;
    position: absolute;

    width: 30px;
    height: 30px;

    border: none;
    border-radius: 0;
    color: #1B1919;
    background-color: transparent;
}
.add-window-close-btn:hover {
    background-color: #FF898A;
}