button {
    transition: all 0.2s;
}

.activity-container{
    display: grid;
    grid-template-columns: [first-col] 20% [second-col] 30% [third-col] 30% [fourth-col];
    grid-template-rows: [first-row] auto [second-row] auto [third-row] auto [fourth-row];
    
    overflow: hidden;
    
    font-size: 2em;

    box-shadow: 2px 2px 4px #929292;
    background-color: #E7F5E7;
}

.activity-label {
    transition: all 0.2s;

    padding: 10px 10px 15px 10px;
    margin: 20px 20% 10px 20%;

    background: #f8f8f8;

    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    border-left: solid 8px transparent;
}
.activity-label:hover {
    border-left: solid 8px #00B3D3;
}

.activity-date {
    font-size: 2.3em;
    font-weight: 500;
    margin: 0 0 10px 10px;
}

.activity-text {
    grid-column-start: second-col;
    grid-column-end: fourth-col;
    grid-row-start: first-row;
    grid-row-end: second-row;

    margin: 10px 0 0 10px;

    font-size: 1.2em;
    font-weight: 500;
}

.description-text {
    grid-column-start: second-col;
    grid-column-end: fourth-col;
    grid-row-start: second-row;
    grid-row-end: third-row;
    
    padding: 10px 0 10px 10px;
}

.time-text {
    grid-column-start: first-col;
    grid-column-end: second-col;
    grid-row-start: first-row;
    grid-row-end: fourth-row;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    font-size: 1.5em;
    
    background-color: #9ee89e;
}

.button-container {
    grid-column-start: fourth-col;
    grid-row-start: first-row;
    grid-row-end: fourth-row;
}

.buttons {
    height: 30px;
    width: 100px;

    float: right;
    cursor: pointer;

    margin: 10px 20px 10px 0;
    border: none;
    border-radius: 6px;
}

.buttons:first-of-type {
    background-color: #A8F3BF;
}
.buttons:last-of-type {
    background-color: #FFCECF;
}

.buttons:first-of-type:hover {
    background-color: #4EE77E;
    color: #E7F5E7;
}

.buttons:last-of-type:hover {
    background-color: #FF5C5D;
    color: #E7F5E7;
}

.add-activity-button {
    top: 110px;
    left: 20px;
    position: absolute;

    padding: 12px;
    border-radius: 4px;
    font-size: 33px;

    color: white;
    background-color: #00B3D3;

}

.add-activity-button:hover {
    background-color: #0088A0;
}

.add-window-container {
    position: absolute;
    z-index: 10;

    width: 450px;
    height: 280px;

    font-family: 'poppins';

    border-radius: 5px;
    box-shadow: 1px 1px 4px #3c3c3c;
    background-color: #E7F5E7;
}

.add-window-bar {
    height: 30px;
    width: 100%;

    cursor: move;
    overflow: hidden;

    font-size: 2em;
    text-align: center;
    background-color: #9ee89e;
}

.add-window-close-btn {
    top: 0;
    right: 0;
    position: absolute;

    width: 30px;
    height: 30px;

    border: none;
    border-radius: 0;
    color: #1B1919;
    background-color: transparent;
}
.add-window-close-btn:hover {
    background-color: #FF898A;
}