.splash-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 78vh;
    width: 100%;

    padding: 1%;
    overflow: hidden;
}

.splash-greeting {
    height: 10%;
    margin-bottom: auto;

    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    font-weight: 200;
    letter-spacing: .1em;;
    color: var(--darkest-mint);
}

.splash-content-area {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2.5em;
    grid-row-gap: 1em;
    height: 90%;
    width: 80%;
}

.splash-content-container {
    display: grid;
    grid-template-rows: 15% auto 10%;

    padding: .5em;

    font-family: 'Poppins', sans-serif;

    background-color: var(--main-white);
    border: 1px solid var(--dark-blue);
    border-radius: 15px;
    box-shadow: 2px 4px 8px var(--main-shadow);
    overflow-y: auto;
}

.inbox {
    grid-column: 1/4;
}

.appointments {
    grid-column: 4/10;
}

.recommendations {
    grid-column: 1/5;
    grid-row-start: 2;

    display: grid;
    grid-template-rows: 15% auto;
}

.schedule {
    grid-column: 5/10;
    grid-row-start: 2;

    display: grid;
    grid-template-rows: 15% auto;
}

.schedule-title {
    font-size: 1.2em;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.inbox-message-area,
.all-recommendations,
.appointments-entries-area
{
    width: 90%;
    margin: 1em auto;

    overflow-y: auto;
}

.message-container {
    display: flex;
    flex-direction: column;
}

.message-icon-and-corr {
    display: flex;
    justify-content: space-between;
}

.correspondant {
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.2em;
    color: var(--alt-shadow);
}

.message-text-container {
    padding: .8em;

    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: .02em;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    
    transition: all .2s ease-in-out;
}

.message-text-container:hover {
    box-shadow: 0px 2px 8px var(--main-shadow);
}

.appointment {
    width: 98%;

    margin: 1em auto;
    padding: 1em;

    border-top: 2px solid var(--darkest-blue);
    border-bottom: 2px solid var(--darkest-blue);
    background-color: var(--main-gray);
}

.appointment-title {
    font-size: 1.2em;
    letter-spacing: 0.05em;
    font-weight: 700;
}

.appointment-date {
    color: var(--alt-shadow);
}

.appointment-description {
    text-transform: capitalize;
    font-size: 1.3em;
}

.recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1em auto;
    padding: .5em;

    font-size: 1.4em;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
}

.splash-content-link {
    justify-self: center;

    font-size: 1.6em;
    letter-spacing: .08em;
    font-weight: 600;
    color: var(--dark-blue);
    transition: all .2s ease-in-out;
}

.inner-splash-content-link {
    margin-top: .4em;

    font-size: 1.2em;
    text-decoration: none;
    letter-spacing: .08em;
    font-weight: 600;
    color: var(--dark-blue);
    transition: all .2s ease-in-out;
}

.splash-content-link:hover,
.inner-splash-content-link:hover {
    letter-spacing: .1em;
}